@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.primary{
  background-image: url(/src/IMGs/night-sky.jpg);
  background-size: cover;
  background-color: #f0f0f0;
  background-position: center;
  filter: blur(0px);

}

.primary2{
  background-image: url(/src//IMGs/night-sky2.jpg);
  opacity: 0.80;
}

/* .navStyle{
  width: 100%;
  position: fixed;
  backdrop-filter: blur(30px);
  border: 2px solid rgba(0,0,0,0.8);
  box-shadow: 10px 10px 20px #111,
          -10px -10px 20px #ddd;
} */


/* service page */
.service{
  background-image: url(./IMGs/service.jpg);
  opacity: 0.50;
}

.service-cont-1{
  /* word-spacing: 8px; */
  /* letter-spacing: 2px; */
}


/* eventpage */

.event-busy{
 background-image: url(./IMGs//event-1.jpg);
  opacity: 0.60;
}


.pminac{
 background-image: url(./IMGs/event-PMINAC.jpg);
  /* background-image: url(./IMGs/event-PMINAC.jpg); */
}