@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.primary{
  background-image: url(/src/IMGs/night-sky.jpg);
  background-size: cover;
  background-color: #f0f0f0;
  background-position: center;
}


/* .navStyle{
  width: 100%;
  position: fixed;
  backdrop-filter: blur(30px);
  border: 2px solid rgba(0,0,0,0.8);
  box-shadow: 10px 10px 20px #111,
          -10px -10px 20px #ddd;
} */